.game {
   width: 600px;
   height: 200px;
   border-bottom: 1px solid #000;
   margin: auto;
}

#dino {
   width: 50px;
   height: 50px;
   background-image: url(img/dino.png);
   background-size: 50px 50px;
   position: relative;
   top: 150px;
}

#cactus {
   width: 20px;
   height: 40px;
   background-image: url(img/catus.png);
   background-size: 20px 40px;
   position: relative;
   top: 110px;
   left: 580px;
   animation: cactusMov 1s infinite linear;
}

#counter {
   width: 50px;
   height: 50px;
   font-size: 20px;
   border: 1px solid black;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   top: 200px;
   left: 50%;
   transform: translateX(-50%);
}

@keyframes cactusMov {
   0% {
      left: 580px;
   }

   100% {
      left: -20px;
   }
}

.jump {
   animation: jump .3s linear;
}

@keyframes jump {
   0% {
      top: 150px;
   }

   30% {
      top: 130px;
   }

   50% {
      top: 80px;
   }

   80% {
      top: 130px;
   }

   100% {
      top: 150px;
   }
}